p {
      color: blue;
    }
    
    body {
      background-color: lightgray;
    }
    
    h1 {
      font-size: 2em;
    }

p {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

  .navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  display: inline-block;
  padding: 14px 20px;
  text-decoration: none;
  color: black;
}

.navbar {
background-color: #222;
  padding: 15px;
  display: flex;
  justify-content: flex-start; 
  gap: 20px;
}

.navbar {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  justify-content: space-between; 
  gap: 40px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

body {
  padding-top: 60px;
}

.navbar a {
  color:black;
  text-decoration: none;
  transition: 0.3s;
}

.navbar a:hover {
  color:rgb(8, 0, 255);
}

.hero {
  height: 100vh;
  background-image: url(images/IMG_5023.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: top;
  padding-top: 50px;
  color: rgb(251, 238, 238);
  text-shadow: 2px 2px 5px rgba(0,0,0,0.9),
               0px 0px 15px rgba(0,0,0,0.6);
}

.grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
}

.kuva-box{
  position:center;
  width: 150px;
}

.kuva-box img{
  width:100%;
  display:block;
}

.box{
  position:absolute;
  background:white;
  padding:10px;
  border-radius:10px;
  box-shadow:0 2px 8px rgba(0,0,0,0.2);
  width:120px;
}


.box1 {
  top: 175px;
  right: 50%;
  left: 45%;
}

.box2 {
  top: 340px;
  right: 270px;
}

.box3 {
  top: 550px;
  right: 270px;
}

.box4 {
  top:340px;
  left: 270px;
}

.box5 {
  top: 550px;
  left: 270px;
}

@media (max-width: 768px){

  .kuva-box{
    display:flex;
    flex-direction:column;
    align-items:center;
  }

  .box{
    position:static;
    width:90%;
    margin-top:10px;
  }

}

.oikealle {
  float: right;
  width: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: top;
  padding-top: 50px;
}
      .navbar { 
  position: fixed;
  top: 0;
  width: 100%;
      }
.navbar a {
  display: inline-block;
  padding: 14px 20px;
  text-decoration: none;
  color: black;
} 

.navbar {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  justify-content: space-between; 
  gap: 40px;
  flex-wrap: wrap;
   justify-content: space-evenly;
}

body {
  padding-top: 60px;
}

.navbar a {
  color:black;
  text-decoration: none;
  transition: 0.3s;
}

.navbar a:hover {
  color:rgb(8, 0, 255);
}

.hero {
  height: 145vh;
  background-image: url(images/IMG_0422\ \(1\).JPG); 
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px rgba(0,0,0,0.9),
               0px 0px 20px rgba(0,0,0,0.6);
  object-fit: contain;
}